<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Us</title>
    <link rel="stylesheet" href="../components/style.css">
  </head>
  <body>
    <h2 class='about-head animated bounce'>Know About Us</h2>
    <p class='about-matter'>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktlike Aldusose interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
ges of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the</p>
  <img src="./graphics/innovate.gif" alt="" class="innovate">
  <div class="team">
    <h2 class='team-head'>Our Amazing Team</h2>
    <div class="team-matter">
      <div class="card-1">
        <img src="components/profile/1.jpeg" alt="" class="im-hw">
        <div class="card-matter">
          orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry'sorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        </div>
      </div>
      <div class="card-2">
        <img src="./profile/2.jpeg" alt="" class="im-hw">
        <div class="card-matter">
          orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry'sorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        </div>
      </div>
      <div class="card-3">
        <img src="./profile/3.jpeg" alt="" class="im-hw">
        <div class="card-matter">
          orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry'sorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        </div>
      </div>
    </div>
    <div class="team-matter">
      <div class="card-4">
        <img src="./profile/4.jpeg" alt="" class="im-hw">
        <div class="card-matter">
          orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry'sorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        </div>
      </div>
      <div class="card-5">
        <img src="./profile/5.jpeg" alt="" class="im-hw">
        <div class="card-matter">
          orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry'sorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        </div>
      </div>
      <img src="./graphics/arrow.gif" alt="" class='gif-hw'>
    </div>
  </div>
  </body>
</html>
