<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Us</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h2 class='about-head animated bounce'>Know About Us</h2>
  <img src="./graphics/innovate.gif" alt='' class="innovate">
  <div class="team">
    <h2 class='team-head'>Our Amazing Team</h2>
    <div class="team-matter">
      <div class="card-1">
        <img src="./profile/1.jpeg" alt="" class="im-hw">
        <div class="card-matter"><br>
          Shashank P<br>
          Email - 200010048@iitdh.ac.in
        </div>
      </div>
      <div class="card-2">
        <img src="./profile/2.jpeg" alt="" class="im-hw">
        <div class="card-matter"><br>
          Anand Hegde<br>
          Email - 200020007@iitdh.ac.in
        </div>
      </div>
      <div class="card-3">
        <img src="./profile/3.jpeg" alt="" class="im-hw">
        <div class="card-matter"><br>
          Arvind Kumar M<br>
          Email - 200020008@iitdh.ac.in
        </div>
      </div>
    </div>
    <div class="team-matter">
      <div class="card-4">
        <img src="./profile/4.jpeg" alt="" class="im-hw">
        <div class="card-matter"><br>
          Harrithha B<br>
          Email - 200010018@iitdh.ac.in
        </div>
      </div>
      <div class="card-5">
        <img src="./profile/5.jpeg" alt="" class="im-hw">
        <div class="card-matter"><br>
          Sri Vyshnavi Devi K<br>
          Email - 200010023@iitdh.ac.in
        </div>
      </div>
      <img src="./graphics/arrow.gif" alt="" class='gif-hw'>
    </div>
  </div>
  </body>
</html>
